<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kenick.sport.mapper.product.BrandMapper">

	<resultMap id="fieldToBrand" type="brand">
		<result column="img_url" property="imgUrl"/>
		<result column="web_site" property="webSite"/>
		<result column="is_display" property="isDisplay"/>
	</resultMap>
	
	<!-- 不分页查询品牌集合 -->
	<select id="queryBrandListByQueryAndNoPage" parameterType="brandQuery" resultMap="fieldToBrand">
		select * from bbs_brand
		<where>
			<if test="name != null and name !=''">
				and name like "%"#{name}"%"
			</if>
			<if test="isDisplay != null">
				and is_display = #{isDisplay}
			</if>
		</where>
        order by sort
	</select>

	<!--查询符合条件的品牌总数-->
	<select id="queryBrandSumByQueryAndPage" parameterType="brandQuery" resultType="Integer">
		select count(1) from bbs_brand
		<where>
			<if test="name != null and name !=''">
				and name like "%"#{name}"%"
			</if>
			<if test="isDisplay != null">
				and is_display = #{isDisplay}
			</if>
		</where>
	</select>

	<!--查询符合条件的品牌集合-->
	<select id="queryBrandListByQueryAndPage" parameterType="brandQuery" resultMap="fieldToBrand">
        select * from bbs_brand
        <where>
            <if test="name != null and name !=''">
                and name like "%"#{name}"%"
            </if>
            <if test="isDisplay != null">
                and is_display = #{isDisplay}
            </if>
        </where>
        order by sort
        limit #{startLine},#{maxNum}
	</select>

	<select id="queryBrandById" parameterType="String" resultMap="fieldToBrand">
		select * from bbs_brand where id = #{brandId}
	</select>

	<update id="updateBrand" parameterType="brand">
		update bbs_brand
        <set>
            <if test="name != null">
                name='${name}',
            </if>
            <if test="description != null">
                description='${description}',
            </if>
            <if test="imgUrl != null">
                img_url='${imgUrl}',
            </if>
            <if test="webSite != null">
                web_site='${webSite}',
            </if>
            <if test="sort != null">
                sort=${sort},
            </if>
            <if test="isDisplay != null">
                is_display=${isDisplay}
            </if>
        </set>
		<where>
			id=${id}
		</where>
	</update>

	<insert id="insertBrand" parameterType="brand">
        <!-- oracle等不支持id自增长的，可根据其id生成策略，先获取id
        <selectKey resultType="int" order="BEFORE" keyProperty="id">
           select seq_user_id.nextval as id from dual
        </selectKey>-->

        <!-- mysql插入数据后，获取id -->
        <selectKey keyProperty="id" resultType="Long" order="AFTER" >
            SELECT LAST_INSERT_ID() as id
        </selectKey>

        insert into bbs_brand(id,name,description,img_url,web_site,sort,is_display)
        values(#{id},#{name},#{description},#{imgUrl},#{webSite},#{sort},#{isDisplay})
    </insert>

    <delete id="deleteBrandById" parameterType="Integer">
        delete from bbs_brand where id=#{brandId}
    </delete>

    <delete id="deleteBrandByList" parameterType="java.util.List">
        delete from bbs_brand where 1>2 or id in 
        <foreach collection="list" item="brandId" open="(" separator="," close=")">
            #{brandId}
        </foreach>
    </delete>
</mapper>